<h2>Log-in</h2>
<div class="form__container" id="form__login__container">
    <form id="form__login" action="/u/login" method="post">
        <label>E-Mail:</label><input type="email" name="email" id="input__user__email">
        <label>Password:</label><input type="password" name="password" id="input__user__pass">
        <input id="login__user" type="submit" value="Log-in">
    </form>
</div>