<h2 class="title">Welcome to our product database</h2>
<div class="flex__container">
    <div>
        <h3 class="title">It's products time, in real-time!</h3>
        <div id="products__container">
            <ul id="products__list"></ul>
        </div>
    </div>
    <div>
        <h3 class="title">Add a product of your own!</h3>
        <div class="form__container" id="form__prods__container">
            <form id="form__prods">
                <label>Title:</label><input type="text" name="title" id="input__prod__title">
                <label>Price:</label><input type="number" name="price" id="input__prod__price">
                <label>Stock:</label><input type="number" name="price" id="input__prod__stock">
                <input id="add__prod" type="submit" value="Add">
            </form>
        </div>
    </div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/products-realtime.js"></script>