<h2>Register today and publish your own products!</h2>
<div class="form__container" id="form__register__container">
    <form id="form__register" action="/u/register" method="post">
        <label>First Name:</label><input type="text" name="firstname" id="input__user__fn">
        <label>Last Name:</label><input type="text" name="lastname" id="input__user__ln">
        <label>Age:</label><input type="number" name="age" id="input__user__age">
        <label>E-Mail:</label><input type="email" name="email" id="input__user__email">
        <label>Password:</label><input type="password" name="password" id="input__user__pass">
        <input id="create__user" type="submit" value="Register">
    </form>
</div>